# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Ignore environment variables
.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build artifacts
/dist
/build
*.egg-info/
